{
  "presets": ["env", "react"],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-decorators-legacy"
  ]
}
